<section class="section" id="otodom">
  <div class="wrap opis-card">
    <div class="opis-grid">
      <div class="opis-text">
        <div class="otodom-box">
          <a
            href="https://www.otodom.pl/pl/oferta/mieszkanie-64-4-m-w-spokojnej-okolicy-dylewicza-pkp-siedlce-zachodnie-ID4ATvS"
            target="_blank"
            rel="noopener noreferrer"
            class="otodom-link"
            aria-label="Zobacz ogłoszenie na Otodom"
          >
            <img
              src="/images/cover2.png"
              alt="Przejdź do ogłoszenia na Otodom"
              class="otodom-image"
            >
          </a>
        </div>
      </div>

      <div>
        <h2>Link do ogłoszenia OTODOM</h2>
        <div class="underline"></div>
      </div>
    </div>
  </div>
</section>